<div class='bp-select-title' {{action 'toggleShow'}}>
    <span class={{if classNames classNames}}>{{choosedValue}}</span>
    {{svg-jar selectIcon width='24px' height='24px' class=(if iconClass iconClass "icon")}}</div>
    <ul class={{if show 'bp-option-group' 'd-none'}}>
        {{yield (hash    onChange=(action 'change')   val=choosedValue)}}</ul>