{{cp-leaf ssc="ssc" disconnect="disconnect"}}
        {{#if clickChange}}
            {{#if sidebarIcon}}
            <div onclick={{action "stepAction" "left"}} class={{sidebarIconStyleLeft}}>{{svg-jar sidebarIcon width='24px' height='24px' class='icon-no-margin'}}</div>
            {{else}}
            <div onclick={{action "stepAction" "left"}} class='viewport-click-left'>{{svg-jar 'pre-year' width='24px' height='24px' class='icon-no-margin'}}</div>
            {{/if}}
        {{/if}}
        {{yield}}
        {{#if clickChange}}
            {{#if sidebarIcon}}
            <div onclick={{action "stepAction" "right"}} class={{sidebarIconStyleRight}}>{{svg-jar sidebarIcon width='24px' height='24px' class=icon-no-margin}}</div>
            {{else}}
            <div onclick={{action "stepAction" "right"}} class='viewport-click-right'>{{svg-jar 'next-year' width='24px' height='24px' class='icon-no-margin'}}</div>
            {{/if}}
        {{/if}}