<div class='bp-components'>{{bp-table  classNames=""  tid="bp-table-test" confReqAdd="http://192.168.100.59:5555" border="false"}}{{bp-date-picker  range=true type='date' pid='date-picker' min='1990-1-1' max='2100-12-31' style='default' size='small'}}{{#bp-button  ssc="ssc" emit="emit" disconnect="disconnect"  disabled=false text='test text' type='primary' density='default' icon='edit'}}{{/bp-button}}{{#bp-button-group}}{{#bp-button-item  ssc="ssc" emit="emit" disconnect="disconnect"  disabled=false text='test text' density='default' active=true}}{{/bp-button-item}}{{#bp-button-item  ssc="ssc" emit="emit" disconnect="disconnect"  disabled=false text='test text' density='default' active=false}}{{/bp-button-item}}{{/bp-button-group}}{{bp-badge ssc="ssc" emit="emit"
            disconnect="disconnect"  badgeNumber=8 primary=false reverse=false}}{{bp-input ssc="ssc" emit="emit"
            disconnect="disconnect"  disabled=false value=null placeholder='test placeHolder' size='comfy' states=''}}{{bp-label ssc="ssc" emit="emit"
            disconnect="disconnect"  text='test label' type='body-primary'}}{{bp-link ssc="ssc" emit="emit"
            disconnect="disconnect"  name='test link' disabled=false type='default'}}{{bp-status ssc="ssc" emit="emit"
            disconnect="disconnect"  statusContent='status test' type='success' subtle=true}}{{bp-tag ssc="ssc" emit="emit" disconnect="disconnect"  tagContent='tag test' type='blue' subtle=true show=true}}{{#bp-text classNames=""  tagName="span"}}
                    BPText content
                {{/bp-text}}{{#bp-viewport ssc="ssc" emit="emit" disconnect="disconnect" classNames=""  height="120px" width="calc(100% - 48px)" clickChange=true vid="bp-viewport-test" step=200 row=true}}
                    
                {{/bp-viewport}}</div>