<div class='bp-simple'>
    {{!-- {{bp-img classNames="login-img"  src="https://desk-fd.zol-img.com.cn/t_s960x600c5/g5/M00/01/0F/ChMkJlbKwvKILghAAAXdSSmnlysAALGvgEMwnEABd1h654.jpg" alt="image description"}}
    {{#bp-radio-group classNames=""  choosedValue='请选择' as |s| }}{{/bp-radio-group}}
    {{bp-radio onClick=(action s.onChange) choosedValue=s.val classNames=""  disabled=false value="radio text" type="radio" name="radio" rid="rid"}}
    {{#bp-checkbox-group classNames=""  choosedValue='请选择' as |s| }}
    {{/bp-checkbox-group}}{{bp-checkbox classNames=""  disabled=false value="check text" type="checkbox" name="checkbox" cid="cid"}}
    {{bp-select-multiple classNames="" }}
    {{bp-cascader classNames="" }}
    {{bp-date-select classNames="" }}
    {{#bp-pagination}}{{/bp-pagination}} --}}
    {{#bp-progressbar}}
    {{/bp-progressbar}}

    {{#bp-cascader classNames="bp-cascader" choosedValue=choosedValue data=data subData=subData selectItems=cascaderSelected subSelectItems=cascaderSubSelected}}{{/bp-cascader}}

    <div class="test-checkbox">
        <span class="uncheckbox"></span>
        <label for="" style="font-size: 14px;color: rgba(9, 30, 66, 0.82);">测试哦哦</label>
    </div>


 <div class="test-checkbox">
        <span class="some-checked-box"></span>
        <label for="" style="font-size: 14px;color: rgba(9, 30, 66, 0.82);">测试哦哦</label>
    </div>

     <div class="test-checkbox">
        <span class="checkbox"></span>
        <label for="" style="font-size: 14px;color: rgba(9, 30, 66, 0.82);">测试哦哦</label>
    </div>

    </div>